@using WebApplication9.Models.Sınıflar
@model List<EkolojikDurum>

<div style="text-align: center;">
    <h1>Endemikler Hakkında</h1>
</div>



<div>
    @foreach (var x in Model)
    {

        <p style="font-size: 16px; color: black; font-weight: bold;">@x.Ekolojikİşev</p>
        <p style="font-size: 16px; color: black; font-weight: bold;">@x.BilimselÇalışma</p>

    }

</div>
